body{
    margin: 0;
}

h2{
    font-size: 25px;
}

.header{
    background-color: #242544;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    /*color: #EBBF9C;*/
    color: white;
}
.menu{
    width: 10%;
}
.logo{
    display: flex;
    width: 25%;;
    align-items: center;
}

.busqueda{
    width: 40%;
}
.cuenta{
    width: 15%;
}
.carrito{
    width: 10%;
}

.header h1{
    font-weight: 600;
    font-size: 40px;
}

.products{
    display: flex;
}
.space{
    width: 10%;
    background-color: honeydew;
}

.productos{
    width: 90%;
    background-color: gray;
    height: 500px;
}

.container{
    /* border: 1px solid red; */
    max-width: 1100px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
