body{
    margin: 0;
}

.header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 145px;
    flex-wrap: wrap;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

ol {
    list-style: none;
}

.vista1{
    background: white;
}

.vista1 p{
    font-size: 25px;
}

.processor{
    display: flex;
}

.product_text{
    padding: 20px;
}

.container{
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
} 

footer{
    color: white;
}