body{
    margin: 0;
    padding-top: 120px;
    width: 100%;
}

* {
    font-family: 'Source Sans Pro';
    box-sizing: border-box;
}

h2{
    font-size: 25px;
    margin: 0;
}

.products{
    display: flex;
    margin-top: 5px;
    height: 700px;
}

.productos{
    width: 850px;
    padding: 30px 45px;
    height: 700px;
}

.ofertas{
    width: auto;
    height: auto;
}

.container-slider{
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff,
                0 15px 50px;
    position: relative;
    width: inherit;
    height: inherit;
}

.slider{
    display: flex;
    width: 300%;
    height: 270px;
}

.slider_section{
    width: inherit;
    height: inherit;
}

.slider_img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider_btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider_btn:hover{
    background: white;
}

.slider_btn-left{
    left: 10px;
}

.slider_btn-rigth{
    right: 10px;
}

.other-products{
    width: 800px;
    height: auto;
    display: flex;
    margin-top: 40px;
}
.ofertas_diarias{
    width: 200px;
    padding: 10px;
}
.ofertas_img{
    height: 180px;
}

.desc{
    width: 150px;
    height: 60px;
    margin: 20px 0;
    border-radius: 20px;
    text-align: center;
    padding: 0 1rem;
    margin: 1rem;
}

.desc p{
    margin: 0;
}

.container{
    /* border: 1px solid red; */
    max-width: 1000px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.bur-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: none;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 140px;
    font-size: 22px;
  }

  @media screen and (max-width: 1023px){
    .desc{width: 120px;}
    .desc h2{font-size: 18px;}

    .products{
        width: auto;
        height: auto;
    }
    .productos{
        width: 100%;
        height: auto;
    }

    .ofertas img{
        object-fit: contain;
    }

    .slider{
        height: auto;
    }
    .other-products{
        flex-wrap: wrap;
        width: auto;
        justify-content: space-between;
    }
    .ofertas_diarias{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

  }

@media screen and (max-width: 767px){
    .slider img{
        object-fit: initial;
    }
    .products{
        width: 100%;
        height: auto;
    }

    .bur-button{
        display: block;
    }
    .productos{
        height: auto;
        width: 100%;
    }
    .ofertas{
        height: auto;
    }
    .ofertas img{
        object-fit: contain;
    }

    .slider{
        height: auto;
    }
    .other-products{
        flex-wrap: wrap;
        width: auto;
        justify-content: space-between;
    }
    .ofertas_diarias{
        width: 180px;
        height: 300px;
    }
    .ofertas_img{
        width: 180px;
        height: 180px;
    }

    .desc{
        margin: 0;
        padding: 0;
    }
}  

@media screen and (max-width: 480px){
    .productos{
        height: auto;
    }
    .ofertas{
        height: 240px;
    }
    .other-products{
        height: auto;
    }

    .ofertas{
        height: auto;
    }
    .ofertas_diarias{
        width: 140px;
        height: 250px;
    }
    .ofertas_img{
        width: 140px;
        height: 140px;
    }

    .ofertas img{
        object-fit: contain;
    }

    .slider{
        height: auto;
    }
}

@media screen and (max-width: 375px){
    .productos{
        padding: 25px 15px;
        height: 700px;
    }

    .ofertas_diarias{
        width: 120px;
        height: 250px;
    }
    .ofertas_img{
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 320px){


}